In [1]:
import pandas as pd

a = [1,2,3]

myvar = pd.Series(a)

b = {"one":10,"second":100,"third":1000}

s2 = pd.Series(b)

print(s2)
print(myvar)

one         10
second     100
third     1000
dtype: int64
0    1
1    2
2    3
dtype: int64

In [2]:
ser1 = pd.Series(data=[1,2,3,4,5], index = list('ABCDE'))
ser1

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [3]:
ser2 = pd.Series(data=[11,12,13,14,15] , index = list("ABCDE"))
ser2

A    11
B    12
C    13
D    14
E    15
dtype: int64

DATAFRAME

In [4]:
#data corresponding to the same index belongs to same row
d = pd.DataFrame({'A':ser1 , 'B':ser2})
d

   A   B
A  1  11
B  2  12
C  3  13
D  4  14
E  5  15

In [5]:
d.duplicated()

A    False
B    False
C    False
D    False
E    False
dtype: bool

RANDOM DATAFRAME

In [6]:
import numpy as np
df =pd.DataFrame(data =np.random.randint(1,10,size = (10,10)), index = list('ABCDEFGHIJ') , columns = list('abcdefghij'))
df

   a  b  c  d  e  f  g  h  i  j
A  7  5  6  8  2  9  2  9  4  3
B  8  3  1  6  8  6  4  7  1  4
C  9  9  8  1  1  7  2  8  1  3
D  2  1  5  6  8  2  3  7  2  7
E  3  4  4  8  1  4  9  6  3  5
F  5  1  4  4  8  1  1  7  6  9
G  7  6  2  4  5  8  9  3  4  4
H  1  4  7  1  9  5  6  6  3  5
I  7  4  1  6  1  6  9  9  3  2
J  2  2  1  4  8  6  7  3  2  3

In [7]:
df.duplicated()

A    False
B    False
C    False
D    False
E    False
F    False
G    False
H    False
I    False
J    False
dtype: bool

In [23]:
data = pd.read_csv('E:\\Drashti\\Machine Learning\\pandas\\house.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Size (sqft)"  10 non-null     int64
 1   Bedrooms      10 non-null     int64
 2   Bathrooms     10 non-null     int64
 3   Location      10 non-null     object
 4   Price         10 non-null     int64
dtypes: int64(4), object(1)
memory usage: 532.0+ bytes

In [20]:
data = pd.read_csv('E:\\Drashti\\Machine Learning\\pandas\\house.csv',chunksize = 5)

In [25]:
pd.read_json('E:\Drashti\Machine Learning\pandas\sample2.json')

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\drash\AppData\Local\Temp\ipykernel_8948\1318789068.py:1: SyntaxWarning: invalid escape sequence '\D'
  pd.read_json('E:\Drashti\Machine Learning\pandas\sample2.json')

,bow,darkness,proper,worse,see,tree
these,False,-237410322,raw,-362431767,"[837885626, 1384841275, -1010534414, True, -85...",1877080137
star,False,-237410322,raw,-362431767,ocean,1877080137
chief,False,-237410322,raw,-362431767,agree,1877080137
sugar,False,-237410322,raw,-362431767,False,1877080137
straight,False,-237410322,raw,-362431767,matter,1877080137
cake,False,-237410322,raw,-362431767,True,1877080137

CONNECTING TO DATABASE