In [2]:
import pandas as pd

df = pd.read_csv("E:\Drashti\Machine Learning\Regression\Salary_Data.csv")

df.head()

<>:3: SyntaxWarning: invalid escape sequence '\D'
<>:3: SyntaxWarning: invalid escape sequence '\D'
C:\Users\drash\AppData\Local\Temp\ipykernel_19612\31985627.py:3: SyntaxWarning: invalid escape sequence '\D'
  df = pd.read_csv("E:\Drashti\Machine Learning\Regression\Salary_Data.csv")

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

HERE, X IS AN INDEPENDENT VARIABLE AND Y IS AN DEPENDENT VARIABLE

In [3]:
x = df['YearsExperience']
y = df['Salary']

In [4]:
x

0      1.1
1      1.3
2      1.5
3      2.0
4      2.2
5      2.9
6      3.0
7      3.2
8      3.2
9      3.7
10     3.9
11     4.0
12     4.0
13     4.1
14     4.5
15     4.9
16     5.1
17     5.3
18     5.9
19     6.0
20     6.8
21     7.1
22     7.9
23     8.2
24     8.7
25     9.0
26     9.5
27     9.6
28    10.3
29    10.5
Name: YearsExperience, dtype: float64

In [5]:
y

0      39343.0
1      46205.0
2      37731.0
3      43525.0
4      39891.0
5      56642.0
6      60150.0
7      54445.0
8      64445.0
9      57189.0
10     63218.0
11     55794.0
12     56957.0
13     57081.0
14     61111.0
15     67938.0
16     66029.0
17     83088.0
18     81363.0
19     93940.0
20     91738.0
21     98273.0
22    101302.0
23    113812.0
24    109431.0
25    105582.0
26    116969.0
27    112635.0
28    122391.0
29    121872.0
Name: Salary, dtype: float64

THE TEST SIZE OR TRAIN SIZE MUST BE PROVIDED.

RANDOM_STATE HELPS TO MAINTAIN THE FIXED ORDER OF TRAINING AND TESTING DATA, IF IT WON'T HAVE BEEN MENTIONED THEN THE DATA KEEPS ON CHANGING.

TESTING DATA IS 30% AND REMAINING WILL BE THE TRAINING DATA

In [6]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=10)

In [7]:
x_train

1      1.3
19     6.0
14     4.5
18     5.9
6      3.0
11     4.0
23     8.2
24     8.7
28    10.3
22     7.9
10     3.9
26     9.5
29    10.5
8      3.2
25     9.0
16     5.1
17     5.3
0      1.1
15     4.9
4      2.2
9      3.7
Name: YearsExperience, dtype: float64

In [8]:
x_test

20    6.8
7     3.2
5     2.9
2     1.5
3     2.0
21    7.1
13    4.1
27    9.6
12    4.0
Name: YearsExperience, dtype: float64

In [9]:
y_train

1      46205.0
19     93940.0
14     61111.0
18     81363.0
6      60150.0
11     55794.0
23    113812.0
24    109431.0
28    122391.0
22    101302.0
10     63218.0
26    116969.0
29    121872.0
8      64445.0
25    105582.0
16     66029.0
17     83088.0
0      39343.0
15     67938.0
4      39891.0
9      57189.0
Name: Salary, dtype: float64

In [10]:
y_test

20     91738.0
7      54445.0
5      56642.0
2      37731.0
3      43525.0
21     98273.0
13     57081.0
27    112635.0
12     56957.0
Name: Salary, dtype: float64